body {
    color: #111;
    font-family: "Ubuntu", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    padding: 0px;
}
.toolbar {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    min-height: 20px;
    color: lightgrey;
    font-size: 1.5em;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
}
.logo img {
    max-width: 500px;
    width: 100%;
    height: auto;
}
img {
    max-width: 100%;
}
strong {
    color: #696969;
}
.light-strip {
    background-color: #f7f7f7;
    padding: 0px 0px 10px 0px;
}
.title {
    margin: 10px;
    font-size: 2.5rem;
}
.subtitle {
    font-size: 2rem;
}
.spacer {
    margin-top: 5px;
}
.usb-img {
    margin: 0px 10px 0px 10px;
    max-width: 450px;
}
.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul {
    margin-right: 10px;
    font-size: 1.5rem;
    list-style-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle fill='%23e95420' cx='8' cy='8' r='7'/%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M10.83 4.501l1.208.89-5.033 6.83-2.922-3.096 1.091-1.029 1.689 1.789z'/%3E%3C/g%3E%3C/svg%3E");
}
li {
    word-wrap: break-word;
    margin: 0 0 12px 0;
}
.gradient {
    background-blend-mode: multiply, multiply, normal, normal;
    background-color: #772953;
    background-image: linear-gradient(to bottom left, rgba(119,41,83,0.16) 0, rgba(119,41,83,0.16) 49.9%, transparent 50%),linear-gradient(to bottom right, rgba(228,228,228,0.5) 0, rgba(228,228,228,0.5) 49.9%, transparent 50%),linear-gradient(to top left, #fff 0%, #fff 49.3%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%),linear-gradient(-89deg, #e95420 0%, #772953 42%, #2c001e 94%);
    color: #fff;
    background-position: top right, top left, right bottom -1px, left top;
    background-repeat: no-repeat;
    background-size: 74% 99.83%, 68% 91%, 103.8% 20.26%, 100% 99.8%;
    margin: 0;
    padding-bottom: 5rem;
    padding-top: 2rem;
}
.full-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 68rem;
    width: 100%;
}
.embed-container { 
    position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
@media (max-width: 875px) {
    .gradient {
        background-position: top right, top left, right bottom -1px, left top;
        background-repeat: no-repeat;
        background-size: 135% 97.83%, 148% 83%, 119% 13%, 100% 99.83%;
    }
    .full-width {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}